body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}





body {
  background-color: #75E6BE;
}


body {
  background-image: url(https://fondosmil.com/fondo/32208.jpg);
}



.owo {
  background-color: rgba(169, 65, 230, 0.575);
  border-radius: 5%;
  margin: 100px;

}

.ewe {
  color: #020137;
}

.awa {
  color: rgb(72, 27, 150);
}
  

 